<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Microservice Client</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br>
<div class="List_articles">
    <h1>Liste des articles : </h1>
</div>
<br>
<div class="container mainCart">

    <div th:each="product : ${infoProducts}" class="ines">
        <div class="item-a">
            <img th:src="${product.illustration}"/>
        </div>

        <div class="information">
            <div class="item-b">
                <h1 th:text="${product.name}"></h1>
            </div>
            <div class="item-d">
                <p th:text="${product.description}"></p>
            </div>
            <div class="item-y">
                <p th:text=" 'Prix :' + ${product.price}+' €'"></p>
            </div>
        </div>
    </div>
    <div class="end_list">
        <br>
        <div class="item-j">
            <div th:text=" 'Prix total : ' + ${total}+ ' €'" class="totalprix"></div>
        </div>
        <div class="btns">
            <div class="item-h">
                <button type="button" class="btn btn-secondary btn-sm">
                    <a th:href="@{|/index/${cart.id}|}">
                        Continuer ses achats
                    </a>
                </button>
            </div>
            <div class="item-j">
                <button type="button" class="btn btn-secondary btn-sm">
                    <a th:href="@{|/empty-cart/${cart.id}|}">
                        Vider le panier
                    </a>
                </button>
            </div>
            <div class="item-i">
                <button type="button" class="btn btn-secondary btn-sm">
                    <a th:href="@{|/cart/${cart.id}/order|}">
                        Valider le panier
                    </a>
                </button>
            </div>
        </div>
        <br>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>


</body>
</html>